In [7]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('leetcode-submissions.csv')
df
df2 = pd.read_csv('merged.csv')

                           slug  java_submission  python_submission
0                       two-sum                1                  1
1               add-two-numbers                1                  1
2   median-of-two-sorted-arrays                0                  0
3             palindrome-number                1                  1
4     container-with-most-water                1                  1
..                          ...              ...                ...
79                 count-primes                1                  1
80          the-skyline-problem                0                  0
81           isomorphic-strings                1                  1
82               rectangle-area                1                  1
83             basic-calculator                1                  1

[84 rows x 3 columns]

In [18]:
df2 = pd.read_csv('merged.csv')
df2=df2.drop(columns=['status', 'paid_only', 'is_favor', 'frequency', 'progress', 'stat.question_id', 'stat.question__article__live','stat.question__article__slug','stat.question__article__has_video_solution', 'title','is_hidden', 'id', 'stat.is_new_question', 'ProblemDescription', 'Answer_Java','code_snippet', 'Correct_Format_Answer'])
df2

,slug,total_accepted,total_submissions,difficulty.level,num_solutions,num_likes,num_dislikes
0,left-and-right-sum-differences,35989,40611,1,Solutions (696),347,18
1,find-the-divisibility-array-of-a-string,19189,61985,2,Solutions (284),373,13
2,find-the-maximum-number-of-marked-indices,13611,36348,2,Solutions (258),394,19
3,minimum-time-to-visit-a-cell-in-a-grid,6102,17157,3,Solutions (114),336,6
4,minimum-operations-to-reduce-an-integer-to-0,15032,30312,2,Solutions (423),323,175
...,...,...,...,...,...,...,...
2031,longest-palindromic-substring,2338796,7218275,2,Solutions (7.6K),24.5K,1.4K
2032,median-of-two-sorted-arrays,1836611,5086097,3,Solutions (10.5K),22.8K,2.6K
2033,longest-substring-without-repeating-characters,4352624,12867877,2,Solutions (14.4K),33K,1.4K
2034,add-two-numbers,3502103,8688912,2,Solutions (12.4K),25.1K,4.9K
2035,two-sum,9231586,18601982,1,Solutions (17.7K),44.7K,1.5K

In [30]:
df3 = df1.merge(df2,on='slug')
df3

,slug,java_submission,python_submission,total_accepted,total_submissions,difficulty.level,num_solutions,num_likes,num_dislikes
0,two-sum,1,1,9231586,18601982,1,Solutions (17.7K),44.7K,1.5K
1,add-two-numbers,1,1,3502103,8688912,2,Solutions (12.4K),25.1K,4.9K
2,median-of-two-sorted-arrays,0,0,1836611,5086097,3,Solutions (10.5K),22.8K,2.6K
3,palindrome-number,1,1,3022247,5650445,1,Solutions (10.9K),9.2K,2.5K
4,container-with-most-water,1,1,2018405,3736805,2,Solutions (7.3K),23.4K,1.2K
...,...,...,...,...,...,...,...,...,...
77,count-primes,1,1,716852,2165317,2,Solutions (2.2K),6.6K,1.3K
78,the-skyline-problem,0,0,261614,625686,3,Solutions (1.2K),5.4K,244
79,isomorphic-strings,1,1,844028,1969135,1,Solutions (4.5K),6.4K,1.4K
80,rectangle-area,1,1,198356,439751,2,Solutions (1.5K),1.8K,1.6K
81,basic-calculator,1,1,374515,883008,3,Solutions (1.5K),5.3K,395

In [49]:
df3.to_csv("analysis_variables.csv")